h4 { font-weight: bold; text-align: center; }

  body {
    font-family: Helvetica, Arial, sans-serif;
      background: url('./../assets/bg.jpg') no-repeat center; 
      height: 900px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
  label {
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  padding-bottom: 1rem;
}
video{
  display: flex;
  justify-content: center;
}
#thala-result {
  position: relative;
}

#thala-result video{
  position: absolute;
  padding-right: 5px;
  padding-left: 5px;
    top: 20%;
    left: 50%;
    object-fit: fill;
    height: 70%;
    transform: translate(-50%, 10%);
    animation: fadeIn 5s;
}
#thala-result img{
  position: absolute;
  padding-right: 10px;
  padding-left: 10px;
    top: 15%;
    left: 50%;
    object-fit: fill;
    max-height: 70%;
    transform: translate(-50%, 10%);
    animation: fadeIn 5s;
}
.card{
    top: 20%;
    left: 50%;
    transform: translate(-50%, 10%);
    animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}