<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="myApp" ng-controller="userCtrl">
<div class="w3-container">
    <div class="row">
    <label for="thalaInput">Enter Value:</label>
    <input class="w3-input w3-border" id="thalaInput" [(ngModel)]="clickMessage" placeholder="D+e+b+j+e+e+t=7" />
    </div>
    <br>
    <div class="text-center">
        <button class="btn btn-success" mdbRipple (click)="checkThala()">Check!</button>
    </div>

    <div *ngIf="isThala" id="thala-result" class="card" [ngStyle]="{'width': '250px', 'height' : '33rem'}">
        <video autoplay [loop]="true" class="card-img-top">
          <source [src]="videoSource" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <div class="card-body">
            <h4 class="card-title" [ngStyle]=" {'color': isThala ? 'green': 'red'}">{{ result }}</h4>
        </div>
    </div>

    
    <div *ngIf="isVediya" id="thala-result" class="card" [ngStyle]="{'width': '300px', 'height' : '33rem'}">
        <img src="./../assets/vediya.png" width="400" height="350" class="card-img-top" />
        <div class="card-body">
            <h4 class="card-title" [ngStyle]=" {'color': isThala ? 'green': 'red'}">{{ result }}</h4>
        </div>
      </div>


</div>
</body>
<footer class="fixed-bottom">
    <div class="bg-light text-center p-2">
        <h6>Made with 💗 by
            <a class="twitter-follow-button" href="https://twitter.com/JarolCohnson" target="_blank"> <i class="fa fa-twitter"
                    aria-hidden="true"></i>Debjit Karmakar</a>.
        </h6>
    </div>
</footer>